<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_sismoya_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_sismoya_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterRefillDraftV1"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!-- Splash Screen -->
        <activity
            android:name=".Customer.UserInterface.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Flow -->
        <activity android:name=".Customer.UserInterface.activities.GetStartedActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.LaunchActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Login_Customer_and_Riders.LoginActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.RegisterActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Login_Customer_and_Riders.ForgotPasswordActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.VerifyCodeActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Login_Customer_and_Riders.ResetPasswordActivity" android:exported="false" android:screenOrientation="portrait"/>

        <!-- ✅ Rider Activities -->
        <activity android:name=".Riders.UserInterrface.Activities.RiderDashboardActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Riders.UserInterrface.Activities.Rider_Change_Password_Activity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Riders.UserInterrface.Activities.Rider_PersonalInformationActivity" android:exported="false" android:screenOrientation="portrait"/>

        <!-- Customer Activities -->
        <activity android:name=".Customer.UserInterface.activities.CartActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.PersonalInformationActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.ChangePasswordActivity" android:exported="false" android:theme="@style/Theme.WaterRefillDraftV1" />

        <!-- Address and Orders -->
        <activity android:name=".Customer.UserInterface.activities.AddAddressActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".Customer.UserInterface.activities.AddressSelectionActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.OrderSummaryActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.PaymentMethodActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".Customer.UserInterface.activities.OrderConfirmationActivity" android:exported="false" android:screenOrientation="portrait"/>

    </application>
</manifest>
